.atit1{
    font-size: 60px;
}
.aimg{
    height: 300px;
    width: 300px;
}
/* .aimg{
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .aimg:hover {
    transform: scale(1.05);
  } */